DB_USER=tu_usuario_postgres
DB_PASSWORD=tu_password_postgres
DB_HOST=tu_host_postgres
DB_PORT=5432
DB_NAME=tu_base_de_datos
DATABASE_URL=
POSTGRES_DB_URI=
PGSSLMODE=
OPENAI_API_KEY=
PGRST_URL=http://localhost:3000
WHATSAPP_VERIFY_TOKEN=define_un_token_unico
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=